
{% extends 'layout/layoutpanel.html' %}

{% block title %}Principal{% endblock %}



{% block title_view %}Agregar Campus{% endblock %}

{% block description_view %}Aqui puedes dar de Alta un Campus{% endblock %}

{% block content %}
<div class="container-xl px-4 mt-n10">
    <div class="card mb-4">
        <div class="card-body">
            <form action="/updateCampus/{{campus.0}}" method="POST">
                <div class="form-floating mb-3">
                    <input id="cCampus" name="cCampus" class="form-control" type="text" placeholder="Nombre del Campus" value="{{campus.1}}" required>
                    <label for="cCampus">Nombre del Campus</label>
                </div>

                <div class="form-floating mb-3">
                    <input id="cDireccion" name="cDireccion" class="form-control" type="text" placeholder="Direccion del Campus" value="{{campus.2}}" required>
                    <label for="cDireccion">Direccion del Campus</label>
                </div>


                <div class="d-flex align-items-center justify-content-center mt-4 mb-0">
                    <input class="btn btn-dark" id="guardar" name="guardar" type="submit" value="Guardar"/>
                </div>
            </form>
            <div id="error" class="mt-4 alert alert-danger" role="alert" style="display:none;">
               Error al guardar, intente de nuevo o recargue la p&aacute;gina.
            </div>
            <div id="exito" class="mt-4 alert alert-success" role="alert" style="display:none;">
               Se guardo la comisi&oacute;n se recargara la p&aacute;gina.
            </div>
        </div>
    </div>
    <div class="mb-4">
        <div class="row">
            <div class="col-sm text-start">
              <a class="btn btn-dark" href="javascript:history.back()" role="button">Regresar</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}

